
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    .navbar-toggle .icon-bar{ background-color: #43b572;
        background: -webkit-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to left, rgba(173,206,57,1), rgba(67,181,151,1)); /* Standard syntax (must be last) */ 
    }
    .header .nav >li >a{    padding-top: 15px;  padding-bottom: 15px;}
    .slide-text { padding: 10px 10px; }
    .custom-banner-fz > h2{ font-size: 13px; line-height: 18px; font-weight: 500; }
    .custom-banner-fz{ width: 97%;}
    .slide-text > h2{ margin-bottom: 3px;     font-size: 14px;     line-height: 18px;}
    
    .slide-text > h2 p{ font-size: 13px;}
    
    .gray-bg-block{ padding: 10px; }
   /* .carousel-inner{ min-height: 200px; }
    .carousel-inner>.item>img{ max-width: initial;}
    .bs-slider > .carousel-inner > .item > img, .bs-slider > .carousel-inner > .item > a > img{ height:200px; }
    */
   
    .slide-text{ top: 0%;  }
    .feature-img img{ width: 100%; }
    .home-about-block{ padding:10px;}
    .icon-logo{ display: none;}
    .home-about-block h3{ font-size: 22px;}
    .product-info-block .pr-img{ margin-bottom: 20px;}
    .product-info-block{ padding: 20px 18px; }
    .section-title .sectitle{    line-height: 29px;    font-size: 22px;}
    .footer-infoblok .icon{     width: 15%; }
    .site-footer .social{ float: left;}
    .icon-more{ top: 0; left: 37%;}
    .whychoose-block{     padding: 32px 10px;  background-size: inherit !important;}
    .future-prod{     padding: 32px 10px;}
    .call-to-action p{     margin-bottom: 10px;     font-size: 19px;     width: 100%;}
    .feature-box .icon{     max-width: 47px;}
    .feature-box .info-block{     width: 79%;    margin-left: 68px;}
    .slide-width-70p{ width: 100%;}

    .inner-banner-section .solid-bg{     padding: 20px 0;}
    .banner-title h1{    font-size: 16px;}
    .inner-banner-section p{    font-size: 13px; line-height: 18px;     margin-bottom: 15px;     width: 100%;}
    .portfolio-nav ul li span{     width: 48px;  height: 48px;}
    .portfolio-nav ul li span img{    width: 65%;}
    .portfolio-nav ul li{     width: 40%;     float: left;  display: block;}
    .common-inner-block{     padding: 40px 10px;}
    .ui-block-contaciner ul.list-of li{     width: 100%;}
    .nav-tabs>li{ width: 100%; text-align: center;}
    .custm-tab-nav .nav-tabs>li>a{ border: 1px solid #ddd;}
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{     border-top: solid 3px #0ec3cf;}
    
    
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
.navbar-toggle .icon-bar{ background-color: #43b572;
    background: -webkit-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(173,206,57,1), rgba(67,181,151,1)); /* Standard syntax (must be last) */ }
    
  }





/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
.navbar-toggle .icon-bar{ background-color: #43b572;
    background: -webkit-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(173,206,57,1), rgba(67,181,151,1)); /* Standard syntax (must be last) */ 
}
}

@media only screen 
and (max-width : 767px) {
    .slide-text > h2 p {
        font-size: 20px;
        line-height: 26px;
    }
  
    
}

@media only screen 
and (min-device-width : 568px) 
and (max-device-width : 767px) {
    .slide-width-70p{     width: 80%;}
    .slide-text > h2{     font-size: 16px;     line-height: 18px; margin-bottom: 11px; } 
    .slide-text > p{ margin-bottom: 5px;}
    .gray-bg-block{     padding: 30px;}
    .icon-more{     top: 5px;  left: 44%;}
    .whychoose-block{     padding: 30px;     background-size: inherit !important;}

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.header .nav >li >a{ margin: 0 5px; }
.gray-bg-block{    padding: 10px;}
.contact-block{padding: 10px;}
.address-block{padding: 15px;}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
.gray-bg-block .col-md-4.fadeInUp.wow{ width: 48%; display: inline-block; }


}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
.navbar-toggle .icon-bar{ background-color: #43b572;
    background: -webkit-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(173,206,57,1), rgba(67,181,151,1)); /* Standard syntax (must be last) */ 
}
}