/* font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif; */

body {font-family: 'Roboto', sans-serif; font-size: 14px; outline:none; color: #333; line-height: 22px; }
h1, h2, h3, h4, h5, h6{font-family: 'Roboto', sans-serif;}
p{font-family: 'Roboto', sans-serif; font-size: 14px; }
.btn{ border-radius: 2px;}

.navbar-brand { padding: 0px;}
.navbar-brand>img {   padding: 6px 15px;  width: auto; }

.header .navbar-brand { height: 85px;  }
  .header .navbar{ /* box-shadow: 0 10px 20px rgba(50, 50, 50, 0.1); */  background-color: #FFF;  margin-bottom: 0px;
    border-bottom: 0;
  }
  .header .nav{ margin-top: 20px;}
.header .nav >li >a { padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px;  color: #0e4a8f; transition: color 0.4s;  margin: 0 5px;}
 .header .navbar-toggle {  padding: 10px; margin: 25px 15px 25px 0;  }
 .header .nav>li>a:focus,  .header .nav>li>a:hover{ color: #23a966; background: transparent;}

 .header .nav li.active a,
 .header .nav li.active a:hover,
 .header .nav li.active a:focus {
	color: #FFF;
	border-radius: 50px;
	background: #280072;
	transition-delay: 0s;
}

.header .nav li.active a::before {
	transition-delay: 0s;
}

.header .nav li a:hover,
.header .nav li a:focus {
	color: #FFF;
	border-radius: 50px;
	background: #280072;
}





.navbar-small {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 10px 20px rgba(50, 50, 50, 0.1);
	animation-duration: 0.50s;
	border-color: transparent;
  animation-name: menu_sticky;
  
}
@keyframes menu_sticky {
	0% {
		margin-top: -40px;
		opacity: 0;
	}
	50% {
		margin-top: -20px;
		opacity: 0;
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}

}
.cust-btn-outline{ background: transparent;  border: 1px solid #FFF !important; color: #FFF !important;  }
.gray-bg-block{padding:40px 60px;background-color: #f8f8f8; 	margin:0px 0px;}
.section-title{text-align:center; margin-bottom:30px;}
.section-title .sectitle {font-size: 42px; font-weight: 300; color:#333; margin:0px;     padding-bottom: 10px; position:relative;  margin-bottom: 20px;}

.section-title .subtitle {font-size: 14px;  font-weight: 400; color:#280072; margin-bottom: 15px;}
.section-title h6 {color: #5f5f5f; font-size: 14px;  font-weight: 400;  line-height: 25px; font-family: 'Roboto', sans-serif;}
.section-title .subline { width: 85%; margin: 0 auto; margin-bottom: 15px;}

	.icon-box{background-color:transparent; text-align:center; padding: 30px; transition: all 0.3s ease-in-out;}
	.icon-box:hover{background-color:#fff;}
	.icon-box .fa{color:#81c350; font-size:45px;}
	.icon-box h4{font-size: 18px; font-weight: 500;  color: #333;  margin-bottom: 10px;  padding-bottom: 0px;  position: relative;
	 margin-top: 15px;}
	 
	.icon-box:hover h4 {color: #0170c1;}
	.icon-box h4 a{color: #0170c1; }
	.icon-box h4 a:hover{text-decoration: none; }
	.icon-box:hover h4:after {width: 70px;}
	
	.icon-box p{font-size: 14px; color: #777; line-height: 26px;}
	.m-t-20{ margin-top: 20px;}
	a.btn-primary{color: #ffffff; cursor: pointer; font-weight: 400; font-size: 14px; line-height: 15px; text-align: center; padding: 17px 30px; white-space: nowrap;  background: #7dc14b; display: inline-block;
	text-decoration: none; border: none; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
		transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	}
	a.btn-primary.cust-btn-outline {
		background: transparent !important;
		border: 1px solid #7dc24b !important;
		color: #7dc24b !important;
	}
	a.btn-primary.cust-btn-outline:hover{ background: #ed6f23 !important; color: #FFF !important;	}
.video-present{  position: relative; background: url(../images/video-pr-bg.jpg) no-repeat fixed; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; background-size: cover;
	/*background-attachment: scroll; */
	background-position: center center;
}
.video-present .solid-bg {  padding: 100px 0;     background-color: rgba(5, 18, 31, 0.84); text-align: center;}
.video-present .solid-bg img.play-icon{ margin-bottom: 30px;}
.video-present .solid-bg a{ outline: none;}
.video-present .solid-bg h4{ font-size:32px; margin-bottom: 15px; color: #FFF; font-weight: 600;}
.video-present .solid-bg p{ font-size: 16px; font-family: 'Poppins', sans-serif; color: #FFF;}
.video-present .solid-bg p em{ font-style: italic;}
.video-present .design{ position: absolute; z-index: 999;}
.video-present .design.left{ left: 0; bottom: 0; }
.icon-box.block-white{ background-color:#FFF; margin-top:30px;}
.icon-box.block-white.text-left{text-align: left;}

.icon-box.block-white h4 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
	margin-top: 15px;
	
}
.icon-box.block-white p{ font-size: 14px; line-height: 25px; font-family: 'Roboto', sans-serif;}
.icon-box.block-white h4:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background: #7dc24b;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

.icon-box.block-white.text-left h4:after {
    left: 20px;
}
.icon-box.block-white.text-left:hover{ background: #7dc14b;}
.icon-box.block-white.text-left:hover h4 a{ color: #FFF;}
.icon-box.block-white.text-left:hover p{ color: #FFF;}
.icon-box.block-white.text-left:hover h4:after{    background: #FFF;  left: 36px; width: 70px; }

.icon-box.block-white.text-left:hover img{ -webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1); transition-duration: 0.4s;}
.action-band{ padding-top: 50px;  padding-bottom: 50px;  background-color: #230767;}
.call-to-action h3{font-size: 35px;  margin: 0 0 10px 0; color: #FFF; font-weight: 700;}
.call-to-action p{ font-size:28px;  color: #FFF; font-weight: 400;  width: 70%; line-height: 36px;}
.call-to-action a.btn-primary.cust-btn-outline{border: 1px solid #FFF !important; color: #FFF !important; border-radius: 50px;}
.team-section{ padding: 40px 0px 30px 0px; overflow: hidden;}
.team-members-section{ margin-top: 20px; }

.team-members-section .team-member {
	position: relative;
	cursor: pointer;
	max-width: 400px;
	margin: 0 auto 20px;
	/* box-shadow: 0 5px 30px rgba(0,0,0,0.2); */
}

.team-members-section .team-member .member-img {
	position: relative;
	overflow: hidden;
}

.team-members-section .team-member .member-img img {
	width: 100%;
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
}

.team-members-section .team-member .profail {
	background: rgba(1,113, 195, 0.9);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.team-members-section .team-member .profail .content {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px;
}

.team-members-section .team-member .profail .content h3{ font-size:18px; color: #FFF; }
.team-members-section .team-member .profail .content p.designation{ font-size:13px; color: #FFF; margin-bottom: 30px; }

.team-members-section .team-member .profail .content p {
	color: #FFF;
	font-weight: 400;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	transform: translateY(20px);
	opacity: 0;
}
.team-members-section .team-member .profail .content a.btn.readmore{ border: 1px solid #FFF !important; color: #FFF !important; margin-top:20px;}


.team-members-section .team-member .team-profail {
	margin-bottom: 20px;
	padding: 0 0 20px 0;
	list-style: none;
	position: relative;
}

.team-members-section.team-member .team-profail:after {
	position: absolute;
	left: 50%;
	bottom: 0;
	content: '';
	height: 3px;
	width: 0;
	transition: all 0.3s ease-in-out;
	background: #0d50aa;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.team-members-section .team-member .team-profail li {
	height: 35px;
	width: 35px;
	background: #FFF;
	line-height: 35px;
	display: inline-block;
	text-align: center;
	margin: 0 2px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}

.team-members-section .team-member .team-profail li a {
	color: #000;
	font-size: 16px;
}

.team-members-section .team-member .team-profail li a i {
	line-height: 35px;
}

.team-members-section .team-member .team-profail li:hover {
	background: #0d50aa;
}

.team-members-section .team-member .team-profail li:hover a {
	color: #FFF;
}

.team-members-section .team-member:hover .member-img img {
	transform: scale(1);
}

.team-members-section .team-member:hover .profail {
	opacity: 0.9;
}

.team-members-section .team-member:hover .content p {
	transform: translateY(0);
	opacity: 1;
}

.team-members-section .team-member:hover .team-profail:after {
	width: 250px;
}

.team-members-section .name {
	text-align: center;
	background: #d2d2d2;
	padding: 15px 0;
}

.team-members-section .name h3 {
	color: #444;
	font-weight: 500;
	margin: 0;
	font-size: 20px;
}

.team-members-section .name p {
	margin-bottom: 0;
	font-size: 14px;
}
.testimonial{ padding-top: 70px; padding-bottom: 70px; background: #061f62; color: #FFF;}

.testimonial .section-title .subtitle, .testimonial .section-title .sectitle, .testimonial .section-title h6 {color: #FFF;}
.client-says{ margin-top: 20px;}

.client-says .testi-content {
	text-align: center;
}

.testi-content p {
	color: #b3b3b3;
	font-size: 16px;
	letter-spacing: 0.05em;	
	width: 60%;
	margin: 0 auto 20px auto;
}

.client-says .testi-content p {
	color: #FFF;
	font-size: 16px;
    line-height: 26px;
}

.testi-content i {
	font-size: 40px;
	color: #f1f1f1;
	opacity: 0.6;
}

.testi-content h4 {
	color: #0d50aa;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 700;
}

.testi-content span {
	color: #FFF;
	font-weight: 600;
	margin-bottom: 20px;
	display: block;
}

.client-says .client-details .avatar {
	height: 100px;
	width: 100px;
	margin: 0 auto 20px auto;
	border-radius: 50%;
	overflow: hidden;
}

.client-says .client-details .avatar img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.client-says .client-details h4 {
	color: #FFF;
	font-size: 20px;
	margin-bottom: 0;
	font-weight: 600;
}

.client-says .client-details span {
	color: #FFF;
	opacity: 0.6;
}
.slick-initialized .slick-slide{     outline: none;}
.slick-dots li button::before {width: 25px; height: 25px; font-size: 16px;}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #FFF;
}
.site-footer{ background-color:#1b1d1f; padding-top: 30px; padding-bottom: 30px; overflow:hidden;}
.site-footer .foot-cont-block a img.logo{ width:auto;}
.site-footer .foot-cont-block p{ color: #989898; margin-top: 10px; margin-bottom: 10px;}
.site-footer .foot-cont-block h3{ 
	font-size: 18px;
		font-weight: 600;
		color: #FFF;
		margin: 0px;
	
		position: relative;
		margin-bottom: 15px;
	}
	
	.site-footer .foot-cont-block ul{ margin: 0px; padding: 0px; list-style: none;}
	.site-footer .foot-cont-block ul li{ margin-bottom: 2px;}
	.site-footer .foot-cont-block ul li a{ padding:5px 0px; display: inline-block; color: #8b8b8c;     transition: background 0.3s ease-in-out, color 0.3s ease-in-out;}
	.site-footer .foot-cont-block ul li:hover a{ color: #ee3037; text-decoration:none;}
	.site-footer .foot-cont-block ul.social li{ margin-right:3px; display: inline-block; width: 32px; height: 32px; background:#242435; border-radius: 100%; text-align: center; line-height: 22px; font-size:16px;}
	.site-footer .foot-cont-block ul.social li:hover{ background-color: #ee3037; }
	.site-footer .foot-cont-block ul.social li:hover a{ color: #FFF;}
/* home Blog */
.home-blog-section{ padding:70px; overflow:hidden;}
.blog-post-content{ background: #FFF; border: 1px solid #f3f3f3; margin: 0 auto 30px; border-radius: 2px; transition: all 0.3s ease-in-out;}
.blog-post-content {padding: 20px; }
.blog-thumb img{max-width: 100%; display: block; width: auto; height: auto; border-top-left-radius: 2px; border-top-right-radius: 2px;}
.blog-post-content .entry-title { font-size: 22px; line-height: 24px; margin-bottom: 10px; margin-top: 0; font-weight: 700;}
.blog-post-light .blog-post-content .entry-title a { color: #333;}
.blog-post-light .blog-post-content .entry-title a:hover { color: #0d50aa; text-decoration: none;}
.post-meta { margin: 0 0 10px 0; padding: 0; list-style: none;}
.post-meta li { display: inline-block; margin-right: 5px; position: relative; font-size: 12px; font-weight: 500; text-transform: uppercase;}
.post-meta li a {color: #999; }
.post-meta li a:hover {color: #0d50aa; text-decoration: none;}
.post-content { padding-bottom: 20px; /* border-bottom: 1px solid #d6d6d6; */}
.blog-post-light .blog-post-content p { color: #444; font-size: 14px; line-height: 25px;}
.blog-post-light:hover { box-shadow: 0 10px 20px rgba(0,0,0,0.1);}
a.scrollup {color: #fff; height: 40px; width: 40px; font-size: 12px; line-height: 30px; text-align: center; text-decoration: none; position: fixed;
    bottom: 30px; right: 40px; opacity: 0,5; border-radius: 50%; z-index: 999; color: #ffffff !important; background-color: #e74639 !important; border-color: #e74639 !important; box-shadow: -4.772px 8.878px 16px 0 rgba(29, 32, 34, 0.20);}
	
/* inner page Flow */
.inner-banner-section{  position: relative; background: url(../images/about-sample-banner.jpg) no-repeat fixed; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; background-size: cover;
	/*background-attachment: scroll; */
	background-position: center center;
}
.inner-banner-section .solid-bg {  padding: 85px 0;     background-color: rgba(5, 18, 31, 0.53); text-align: center;}
.inner-banner-section p{ font-size: 16px;  line-height: 22px;  color: #FFF;  width: 43%;   margin: 0 auto; margin-bottom: 25px;}
.banner-title h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 42px;
    position: relative;
    line-height: 1em;
    margin: 0 0 10px 0;
}
.banner-breadcrumbs > span {
    color: #f3f3f3;
    font-weight: 400;
    font-size: 15px;
}
.banner-breadcrumbs > span a{ color:#f47129;}
.custom-view-uiBlock {
    float: none;
    display: inline-block;
	margin:auto;
}
.inner-flow{ padding-top:40px; padding-bottom:40px;}
.inner-flow .left-section-nav{ background:#f8f8f8; padding:30px; min-height:500px;}
.inner-flow .left-section-nav h3{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin: 0px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}
.inner-flow .left-section-nav h3:after {
    position: absolute;
    content: ' ';
    background: #81c350;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
    left: 0;
}
.inner-flow .left-section-nav ul.side-nav-bar{ margin-left:-30px; padding:0px; list-style:none; margin-right:-30px;}
.inner-flow .left-section-nav ul.side-nav-bar li{ margin-bottom:5px; position:relative; padding:8px 30px; display:block; overflow: hidden;} 
.inner-flow .left-section-nav ul.side-nav-bar li a{ font-family: 'Poppins', sans-serif; font-size:15px; 
	-webkit-transition: border-color 2s ease-out; -moz-transition: border-color 2s ease-out;  -o-transition: border-color 2s ease-out; transition: border-color 2s ease-out; color:#333333; font-weight:500; position:relative; overflow:hidden;}
.inner-flow .left-section-nav ul.side-nav-bar li:hover a{ text-decoration:none; color:#7dc24b;}
.inner-flow .left-section-nav ul.side-nav-bar li:hover:before{ position: absolute; content: ' '; background: #81c350; width: 2px; height: 60px; left: 0px;
 top: 0;    }
.inner-flow .left-section-nav ul.side-nav-bar li.active:before{ position: absolute; content: ' '; background: #81c350; width: 2px; height: 60px;
left: 0px;  top: 0;    }
.inner-flow .left-section-nav ul.side-nav-bar li.active a{color:#7dc24b;}

.inner-flow .right-section h2{font-family: 'Poppins', sans-serif; font-size:18px; font-weight:600; margin-bottom:20px; line-height:26px; }
.inner-flow .right-section p{ color:#333333; margin-bottom:20px; line-height:25px; font-size:14px;}
.inner-flow .right-section p strong{ font-weight:600;}

.inner-flow .right-section h3 {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin: 0px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

.inner-flow .right-section h3:after {
    position: absolute;
    content: ' ';
    background: #81c350;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
    left: 0;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}

.panel-group.custom-panel-group .panel{border-radius: 0px; box-shadow:none; }
.panel-group.custom-panel-group .panel-default{background:none !important; border:none; border-bottom: solid 1px #e6e6e6; }
.panel-group.custom-panel-group .panel-default>.panel-heading{background:none !important; border:none !important;     padding-left: 0px; padding-right: 0px;}
.panel-group.custom-panel-group .panel-body{ padding-left:0px; padding-right:0px; border-top:none !important;}
.panel-group.custom-panel-group .panel-title a{font-size: 16px; font-weight: 500; color: #333333; margin: 0px; padding-bottom: 13px; position: relative;
    margin-bottom: 20px;}
.panel-group.custom-panel-group .panel-title a:after { position: absolute; content: ' '; background: #81c350; width: 50px; height: 2px; left: 0; bottom: 0;
    left: 0;}
.panel-group.custom-panel-group .panel-body ul{ margin:0px; padding:0px; list-style:none;}
.panel-group.custom-panel-group .panel-body ul li{ margin-bottom:10px; position:relative; left:30px;}
.panel-group.custom-panel-group .panel-body ul li:before{ position:absolute; content:'\f10c';  font-family: FontAwesome; color: #7dc24b; left: -26px;}

.inner-flow .right-section ul.list-item{ margin:0px; padding:0px; list-style:none; margin-bottom:20px;}
.inner-flow .right-section ul.list-item li{ margin-bottom:10px; position:relative; left:30px;}
.inner-flow .right-section ul.list-item li:before{ position:absolute; content:'\f10c';  font-family: FontAwesome; color: #7dc24b; left: -26px;}

.home-about-block{ padding:60px; position: relative; color: #FFF; background: #00a651 url(../images/abt-bg.png) center no-repeat ; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; background-size: cover;
	/*background-attachment: scroll; */
	}
.icon-logo{ width: 116px; height: 116px; position: absolute; z-index: 999; margin: auto; top: -64px; left:0px; right: 0px; background: #FFF; border-radius: 100%;}
.icon-logo img{ margin:auto; left: 0; top: 0; bottom: 0; right: 0; position: absolute;}	
.home-about-block h3{ font-size: 28px; margin-top: 20px; margin-bottom: 20px; color: #FFF; font-family: 'Poppins', sans-serif;}
.home-about-block p{ width: 80%; font-size: 16px; line-height: 28px; margin: auto;  margin-bottom: 25px;}
.home-about-block .btn{ border-radius: 50px; padding: 10px 20px; border:solid 2px #FFF; background: transparent; color: #FFF;}
.services-block{ background: #f5f5f5;}

.listing_wrap {
    /*border: 1px solid #dedede; */
    border-radius: 0px;
    margin: 0 auto 40px;
    overflow: hidden;
    position: relative;
	background:#FFF;
	text-align: center;
	
}


.listing_img {
	position: relative;
	overflow: hidden
}

.feature-img img{ border-bottom: none;}

img {
    max-width: 100%;
}
.listing_img:before {
	background: rgba(0,0,0,0) linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.6) 70%) repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translateY(50%);
	-moz-transform: translateY(50%);
	-o-transform: translateY(50%);
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transition: all .35s ease 0;
	-moz-transition: all .35s ease 0;
	-o-transition: all .35s ease 0;
	-webkit-transition: all .35s ease 0;
	-ms-transition: all .35s ease 0;
	width: 100%;
	z-index: 1
}
.listing_wrap:hover .listing_img:before {
	opacity: 1;
	transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%)
}

.listing_info {
	padding: 0px 13px 0;
	text-align: center;
}
.listing_info h4{ font-family: 'Roboto', sans-serif; font-size:16px; color:#333333; margin-top:15px; margin-bottom: 10px;}
.listing_info h4 a{font-size:16px; color:#333333; font-family: 'Roboto', sans-serif; font-weight: 600; }
.listing_info h4 a:hover{ text-decoration: none;}
.listing_info p {
    color: #333;
    font-size: 14px;
    line-height: 22px;
	margin-bottom:15px;
}

.services-block .btn{  border-radius: 50px; padding: 10px 20px; border:solid 2px #e7463a; background: transparent; color: #e7463a; }
.header-bar-small{ height: 40px; background: #280072; color: #0ec3cf;}
.header-bar-small p{ line-height: 40px;}
.sm-nav-top ul{ margin: 0px; padding: 0px; list-style: none;}
.sm-nav-top ul li{ display: inline-block; padding:1px 3px 1px 8px; margin: 7px 3px; color: #abb7d5; border-left:solid 1px #abb7d5; font-size: 14px;}
.sm-nav-top ul li span{ color: #FFF;}
.sm-nav-top ul li:first-child{ border-left: none;}
.sm-nav-top ul li a{color: #FFF; text-decoration:none;}
.social-icon a{ color: #0ec3cf !important; margin: 0px 5px;}

.home-product-section{ margin-bottom: 0px; width: 100%;}
.prod_contaner{     background: url(../images/pr_back_bg.jpg) center center / cover no-repeat;
	min-height: 411px; }
.nopad-left{ padding-left: 0px;}
.nopad-right{padding-right: 0px;}
.nopadding{ padding: 0px;}
.pr-block{ width: 85%; float: right; padding:60px 99px 30px 10px;}
.pr-block h3{ font-size: 33px; margin-bottom: 20px; font-weight: 600; color: #FFF;}
.pr-block .subhead-block{ font-size: 16px; font-weight: 300; line-height: 26px; color: #FFF; position: relative; margin-bottom: 20px;
    padding-bottom: 12px;}

.pr-block .subhead-block:after { position: absolute; content: ' ';  background: #FFF;  width: 70px; height: 2px;	left: 0;  bottom: 0; }
.pr-block p{ font-size: 16px; font-weight: 300; line-height: 26px; color: #FFF;}	
.pr-block .btn{  border-radius: 50px; padding: 10px 20px; border:solid 2px #FFF; background: transparent; color: #FFF; margin-top: 30px; }

.prod_list_contaner{ min-height: 411px; background: #e4ebef;}
.pr-list-block{ width: 85%; float: left; padding:60px;}
.pr-item{ text-align: center;}
.pr-item .icon-pr{ position: relative; width: 122px; height: 122px; background: #235085; border-radius: 100%; margin: 0 auto; margin-bottom: 20px;}
.pr-item .icon-pr img{ position: absolute; left: 0; right: 0; top: 0; bottom: 0;  margin: auto; float: none;}
.pr-item h3{ font-size: 16px; margin-bottom: 10px; color: #235085;}
.pr-item p{ font-size: 14px; line-height: 26px;}
.prod_list_contaner .slick-prev:before, .prod_list_contaner .slick-next:before{ color: #235085;}
.cont-list li{ color: #989898; margin-bottom: 8px !important; display: flex;}
.cont-list li .fa{ font-size: 18px; margin-right: 10px; width: 22px;}
.fixed-footer{ background: #000000; padding: 20px; text-align: center;}
.careers-block{ padding: 30px 60px; overflow: hidden; }

.hiddenContent{ margin-top: 20px;}
.hiddenContent h3{  font-size: 16px; font-weight: 600; color: #333333;  margin-top: 0px; padding-bottom: 10px; position: relative; margin-bottom: 20px;}
.hiddenContent h3:after {position: absolute;    content: ' '; background: #ed8b1c; width: 50px; height: 2px; left: 0; bottom: 0;    left: 0; }
.careers-block .form-control{ border-radius:2px; height:42px; border:solid 2px #e0e0e0;}
.careers-block .form-control.textarea{height:inherit;}
.careers-block .form-control:focus{box-shadow:none; border-color:#ed8b1c;}
.careers-block .form-group{ margin-bottom:25px;}
.careers-block form{ margin-top: 20px;}
.error{ color: red;}

.contact-form h3 { font-size: 16px; font-weight: 600; color: #333333; margin: 0px; padding-bottom: 10px; position: relative; margin-bottom: 20px;}
.contact-info h3 { font-size: 16px; font-weight: 600; color: #333333; margin: 0px; padding-bottom: 0px; position: relative; margin-bottom: 20px;}
.contact-form .btn.btn-primary{ background: #ee3037; color: #FFF; border-color:#ee3037;}
.contact-form .btn.btn-primary:hover{ background: #ee3037; color: #FFF;}
.contact-info ul{ margin: 0px; padding:0px;}
.contact-info ul li{margin-bottom: 10px; }
.contact-info ul li span.icon{ width: 42px; height: 42px; border: solid 1px #e0e0e0; display: inline-block; margin-right: 10px; border-radius: 100%;
	text-align: center; line-height: 42px;
}

.contact-info ul li span.icon .fa{ font-size: 16px; color: #ee3037;}
.contact-info ul li a{color: #333333;}
.contact-info ul li a:hover{color: #00a651;}
.white-bg-block{ background: #FFF;}
.whychoose-block{ padding: 62px 60px; background-position: 50% 0px; background-size: 100% !important;  background-repeat: no-repeat !important;
	background-attachment: fixed !important;
background-image: url(../images/background-4.jpg);
}
.whychoose-block .sectitle{ color: #280072 !important;}
.feature-box{ background: rgba(255, 255, 255, 0.9); padding: 30px 15px;  margin-bottom: 30px; min-height: 180px;}
.feature-box .icon{ max-width: 68px; float: left; margin-right: 20px;}
.feature-box h3{ font-size: 16px; font-weight: 600; margin-bottom: 10px;}
.feature-box .info-block{ display: block; width: 72%; margin-left: 88px;}

.blue-box{background: rgba(36, 1, 108, 0.9);}
.blue-box a h5{ margin-top: 10px; color: #FFF;}
.future-prod{padding: 50px 60px; background: #FFF;}
.future-prod .sectitle{ color:#280072;}

.product-list ul{ margin: 0px; padding: 0px; list-style: none; margin-bottom: 20px;}
.product-list ul li{ display: inline-block; margin: 0px 10px}

.future-prod .btn{  border-radius: 50px; padding: 10px 20px; border:solid 2px #250572; background: transparent; color: #FFF; background: #250572;}

.action-band{background: rgb(34,7,101);
	background: linear-gradient(90deg, rgba(34,7,101,1) 0%, rgba(59,25,140,1) 100%);
}
.icon-more{width: 65px;
    height: 65px;
    background: #280072;
    border-radius: 100%;
    text-align: center;
	display: inline-block; position: relative;     top: 80px; left: 48%;}
	.icon-more img{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
.white-bg-block .section-title{ margin-bottom: 0px;}
.portfolio-nav{ margin-bottom: 30px; text-align: center;}
.portfolio-nav ul{ margin: 0px; padding: 0px; list-style: none; margin-bottom: 20px; }
.portfolio-nav ul li{ margin:0px 10px; cursor: pointer; float: left;}
.portfolio-nav ul li h4{ margin-top: 5px; color: #280072;}
.portfolio-nav ul li span{ width: 82px; height: 82px; margin-bottom: 5px; border: solid 2px #e7e7e7; background: #FFF; display: block; position: relative;
	border-radius: 100%; margin: 0 auto; float: none;
}
.portfolio-nav ul li span img{ position: absolute; left: 0; top: 0; bottom: 0; right: 0; float: none; margin: auto;}
.portfolio-nav ul li.active{ color: #e74639}
.filtr-item-block{ background: #FFF; padding: 30px; min-height:320px; margin-bottom: 30px; -webkit-box-shadow: 2px 2px 27px 3px rgba(206, 206, 206, 0.44); box-shadow: 2px 2px 27px 3px rgba(206, 206, 206, 0.44); }
.filtr-item-block img{ margin-bottom: 0px;}
.filtr-item-block ul{ margin: 0px; padding: 0px; list-style: none;}
.filtr-item-block ul li{ margin-bottom: 5px; } 
.filtr-item-block ul li span{ color: #280072; font-weight: 600;}
.portfolio-nav ul li.active .icon{ background: #280072;}
.portfolio-nav ul li.active .icon img{-webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1);}

.portfolio-nav ul li.active h4{ color: #e74639}
.custm-tab-nav{ margin-top: 40px;}

.custm-tab-nav .nav-tabs>li>a{     border-radius: 0px; color: #333; font-size: 16px; padding: 15px 30px;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ border-top:solid 3px #0ec3cf;}
.custm-tab-nav .tab-content{ padding:20px 0;}
.common-inner-block{     padding: 40px 60px; background: #FFF;}
.common-inner-block .subtitle{ font-size: 16px; color: #2a0175;}
.common-inner-block p{ font-size: 14px; margin-bottom: 20px;}
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default > .panel-heading {
	padding: 0;
    border-radius: 0;
    color: #31127c;
    background-color: #ffffff;
    border-color: #EEEEEE;
}

.panel-title {
	font-size: 16px;
}

.panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
}

.more-less {
	float: right;
	color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
	padding: 20px;
}

.ui-block-contaciner ul.list-of{ margin:0px; padding:0px; list-style:none;}
.ui-block-contaciner ul.list-of li{ display:inline-block; width:33%; position:relative; padding-right:10px; margin-bottom:30px;}
.ui-block-contaciner ul.list-of li .info{ margin-left: 82px;}
.ui-block-contaciner ul.list-of li i.icon{ width:62px; height:62px; border:solid 2px #e6e6e6; border-radius:100%; display:block; position:relative; float: left;  margin-right: 20px;}
.ui-block-contaciner ul.list-of li i.icon img{ margin:auto; position:absolute; left:0; right:0; top:0; bottom:0;}
.ui-block-contaciner ul.list-of li h4{ font-size:16px; margin-top:5px; margin-bottom:5px; font-weight:600;}

.ui-block-contaciner ul.list-of li .lbl { color: #280072; margin-right: 10px;}

.contact-block{ background: #f5f5f5;}

.contact-block-ui{ background: #FFF; padding: 20px; margin-top: 40px; display: block; min-height: 215px;}
.contact-block-ui h3 { font-size: 16px; font-weight: 600; color: #333333;  margin: 0px;  padding-bottom: 0px;
	position: relative;  margin-bottom: 15px;}

.contact-block-ui ul{ margin: 0px; padding: 0px; list-style: none;}
.contact-block-ui ul li{    margin-bottom: 10px;
    font-size: 13px;
    display: block;
    width: 100%;
    float: left;}
.contact-block-ui ul li h4{font-family: 'Roboto', sans-serif; margin-bottom: 5px;  color: #ed8b1c;}
.contact-block-ui ul li strong{ font-weight: 500; color: #000; width: 70px; display: block; float: left;}
.contact-block-ui ul li .address{     width: 189px; display: block; float: left;}
.contact-block-ui ul li .email{width: 189px; display: block; float: left;}
.contact-block-ui ul li .email a{ color: #ed8b1c;}

.contact-form h3 { font-size: 16px; font-weight: 600; color: #333333; margin: 0px; padding-bottom: 10px; position: relative; margin-bottom: 20px;}
.contact-info h3 { font-size: 16px; font-weight: 600; color: #333333; margin: 0px; padding-bottom: 0px; position: relative; margin-bottom: 20px;}
.contact-form .btn.btn-primary{ background: #ee3037; color: #FFF; border-color:#ee3037;}
.contact-form .btn.btn-primary:hover{ background: #ee3037; color: #FFF;}
.contact-info ul{ margin: 0px; padding:0px;}
.contact-info ul li{margin-bottom: 10px; }
.contact-info ul li span.icon{ width: 42px; height: 42px; border: solid 1px #e0e0e0; display: inline-block; margin-right: 10px; border-radius: 100%;
	text-align: center; line-height: 42px;
}

.contact-info ul li span.icon .fa{ font-size: 16px; color: #ee3037;}
.contact-info ul li a{color: #333333;}
.contact-info ul li a:hover{color: #00a651;}

.careers-block h4{ font-size: 16px; font-weight: 600;  color: #333333;  margin: 0px; margin-bottom:0px !important; padding-bottom: 0px !important;}
.about-contcnt{ padding: 40px; background: #FFF;}
.about-contcnt p{ margin-bottom: 15px;}
.center-block {
    margin: 0 auto;
    float: none;
    display: inline-block;
}
.profile-view{ margin-bottom:20px;}
.profile-view h2{    font-size: 30px; line-height: 26px; margin-bottom: 15px; font-weight:700; color:#0171c3;}
.profile-view p{ margin-bottom:20px; line-height:25px;}
.profile-view .role-view{    color: #000; font-weight: bold; font-size: 16px; line-height: 26px; display: block; margin-bottom: 20px;  font-style: normal;}
.social-block{ width:100%; margin-top:20px;} 
.social-block ul.social li{ margin-right:3px; display: inline-block; width: 32px; height: 32px; background:#242435; border-radius: 100%; text-align: center; line-height: 30px; font-size:16px; color:#FFF;}
.social-block ul.social li a{ color:#FFF;}

.social-block ul.social li:hover{ background-color: #0171c3; }
.social-block ul.social li:hover a{ color: #FFF;}
.profile-view h3{ font-size: 16px; font-weight: 600;}


.line-clamp{ display: block; display: -webkit-box; max-width: 100%; height: 43px; margin: 0 auto; font-size: 14px; line-height: 20px;
	line-clamp: 2; -webkit-line-clamp: 2; box-orient: vertical; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;
	margin-bottom:  7px; }
	.popover{     border-radius: 0; padding: 0px;}
	.popover-title{    background-color: #280072; color: #FFF;     border-radius: 0;}

	
.portfolio-section{ padding:30px 60px; overflow: hidden;}
.thumbnail-box{ margin: 0 0 45px;  position: relative;}
.thumbnail-box figure{ background: #000;  position: relative;  width: 100%;  overflow: hidden;}
.thumbnail-box figure img {min-width: 100%; display: block; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out}
.thumbnail-box:hover figure img { opacity: .8; -webkit-transition: all .7s ease-out; transition: all .7s ease-out}
.thumbnail-box .caption{  border-color: #f4f4f4;}


.thumbnail-box .caption h4 {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
	margin-top: 20px;
    padding-bottom:0px;
    position: relative;
    margin-bottom:0px;
}



.thumbnail-box .caption p { margin-bottom: 20px;}
.thumbnail-box  .caption a.more-link { padding: 8px 0; font-weight: 500; color: #777; text-transform: capitalize;}
.thumbnail-box  .caption a.more-link:hover{ color: #ed8b1c;}
.thumbnail-box  .caption a.more-link:after { font-family: fontAwesome; content: "\f105"; padding-left: 15px;}
.thumbnail-box  a { text-decoration: none; color: #141414;}
